{% extends 'base.html' %}
{%block title%}Serenova - Product Listing Page{%endblock%}
{%block head%}{%endblock%}
{%block body%}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-2">Categories</h1>
                <form method="GET">
                    <ul class="list-unstyled">
                        {%for cat in categories%}
                            <li>
                                {%if checked_cat == cat%}
                                    <input type="radio" name="category" id="{{cat}}" value="{{cat}}" checked>
                                {% else %}
                                    <input type="radio" name="category" id="{{cat}}" value="{{cat}}" >
                                {%endif%}
                                <label for="{{cat}}">{{cat}}</label>
                            </li>
                        {% endfor %}
                        <li>
                            <button type="submit" class="bg-success border-0 px-4 mt-3 text-white">Apply</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <p>Results: <strong>{{productCount}}</strong> product</p>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Top Pagination -->
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-sm-between align-items-center">
                        <li class="{{'page-item disabled' if currentPage == 1 else 'page-item-top'}}">
                            <a class="page-link-top active rounded-0 mr-3 border-top-0 border-left-0"
                               href="?page={{currentPage-1}}&category={{checked_cat}}"><< previous</a>
                        </li>
                        <li>
                            <p id="page-count" style="font-size: 8px">page <strong style=" margin-left: 5px"">{{currentPage}}</strong> / <strong>{{pageCount}}</strong></p>
                        </li>
                        <li class="{{'page-item disabled' if currentPage == pageCount else 'page-item-top'}}">
                            <a class="page-link-top active border-top-0 border-left-0 "
                               href="?page={{currentPage+1}}&category={{checked_cat}}">next >></a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0 overflow-hidden" style="height: 590px">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{product.ImageURL}}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="{{ url_for('shopSingle', pid=product.ProductId) }}"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{{ url_for('shopSingle', pid=product.ProductId) }}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{{ url_for('shopSingle', pid=product.ProductId) }}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">{{product.ProductTitle}}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">$250.00</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Top Pagination -->
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-sm-between align-items-center">
                        <li class="{{'page-item disabled' if currentPage == 1 else 'page-item'}}">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                               href="?page={{currentPage-1}}&category={{checked_cat}}">Previous</a>
                        </li>
                        <li>
                            <p>page <strong>{{currentPage}}</strong> / <strong>{{pageCount}}</strong></p>
                        </li>
                        <li class="{{'page-item disabled' if currentPage == pageCount else 'page-item'}}">
                            <a class="page-link active rounded-0 shadow-sm border-top-0 border-left-0 "
                               href="?page={{currentPage+1}}&category={{checked_cat}}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

 <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_01.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_03.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_01.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_03.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_01.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_03.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{{url_for('static', filename='img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->
{%endblock%}